@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0f172a;
  --primary-hover: #1e293b;
  --accent: #2563eb;
}

body {
  color: #0f172a;
  background-color: #f8fafc;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
