@tailwind base;
@tailwind components;
@tailwind utilities;

/* Escalado dinámico y accesible de fuentes */
html {
  font-size: 15px;
  transition: font-size 0.15s ease-in-out;
}

html[data-font-size="normal"] {
  font-size: 14px;
}

html[data-font-size="medium"] {
  font-size: 15.5px;
}

html[data-font-size="large"] {
  font-size: 17px;
}

/* Modo Claro y Oscuro nativo con Tailwind */
html.dark {
  color-scheme: dark;
}

html:not(.dark),
html.light {
  color-scheme: light;
}

body {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
